@define-color bg0 #0d0d14;
@define-color bg1 #12121c;
@define-color bg2 #181824;
@define-color bg3 #1e1e2e;
@define-color bg4 #252538;
@define-color bg5 #2d2d42;
@define-color bg_visual #2a1f3d;
@define-color bg_red #2d1f24;
@define-color bg_green #1a2d24;
@define-color bg_blue #1a2535;
@define-color bg_yellow #2d2a1a;
@define-color fg #e4e4ef;
@define-color red #ff6b8a;
@define-color orange #ff9b6b;
@define-color yellow #ffdb6b;
@define-color green #6bffb8;
@define-color aqua #6bfffe;
@define-color blue #6bb8ff;
@define-color purple #b86bff;
@define-color grey0 #4a4a5e;
@define-color grey1 #5a5a72;
@define-color grey2 #6a6a86;
